@tailwind base;
@tailwind components;
@tailwind utilities;

#my-bgAnimation {
  animation: bgAnimation 30s linear infinite;
}

@media (width < 540px) {
  #my-bgAnimation {
    animation: none;
    background-size: cover;
  }
}

@keyframes bgAnimation {
  0% {
    background-position: 36% 42%;
    background-size: 200%;
  }

  20% {
    background-position: 30% 35%;
    background-size: 200%;
  }

  20.0001% {
    /* -- View 2 -- */
    background-position: 60% 85%;
    background-size: 200%;
  }

  40% {
    background-position: 49% 81%;
    background-size: 200%;
  }

  40.0001% {
    /* -- View 3 -- */
    background-position: 80% 42%;
    background-size: 200%;
  }

  60% {
    background-position: 84% 33%;
    background-size: 200%;
  }

  60.0001% {
    /* -- View 4 -- */
    background-position: 0% 0%;
    background-size: 200%;
  }

  80% {
    background-position: 2% 4%;
    background-size: 200%;
  }

  80.0001% {
    /* -- View 5 -- */
    background-position: 80% 10%;
    background-size: 200%;
  }

  100% {
    background-position: 72% 14%;
    background-size: 200%;
  }
}
